<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Import Boostrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Import Styles -->
    <link rel="stylesheet" href="./Style/Index.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
    <!-- Import Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>

    <title>Zealand Id</title>
</head>

<body>
   <div id="app">
       <div class="login-page">
           <div id="login-box">
            <div>
                <img src="/assets/Zealand_logo.jpg" alt="Logo">
            </div> 
               <form @submit.prevent="login">
                   <h1 class="title">Login</h1>
                   <div v-if="loginfail" class="error">
                       {{ loginError }}
                   </div>
                   <br>
                   <input type="text" id="username" v-model="username" placeholder="Username" required>
                   <br>
                   <input type="password" id="password" v-model="password" placeholder="Password" required>
                   <br>
                   <button type="submit">Login</button>
               </form>
               <div v-if="loginfail" class="error"></div>
           </div>
       </div>
   </div>

    <!-- Import App -->
    <script src="./index.js"></script>
    <script src="./components/LoginVue.js"></script>
    <script src="./main.js"></script>
</body>
</html>