<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Import Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- Import Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"> 
    <!-- Import Styles -->
    <link rel="stylesheet" type="text/css" href="./Style/Index.css">
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
    <!-- Import Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>

    <!-- Import Google Library for Google sign-in -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com"> <!-- Write the client ID you created in dev console -->

    <title>Zealand ID: Log ind på siden</title>
    <link rel="icon" type="image/x-icon" href="/Pages/Index/assets/favicon.ico">
</head>
<body>
   <div id="app">
       <div class="container">
            <div class="welcome-section">
                <h1 class="display-4">Velkommen</h1>
                <p class="lead">Log ind for at få adgang til unikke funktioner</p>
            </div>

            <!-- Logo -->
            <a class="navbar-brand" href="https://www.zealand.dk/">
                <img src="/Pages/assets/Zealand_logo.jpg"  alt="Zealand logo" loading="lazy">
            </a>

            <!-- Login section-->
           <div class="login-section">
                <h2 class="mb-4">Log ind</h2>
                
                <!-- Login form goes here -->
               <form @submit.prevent="login">
                  <!-- <div v-if="loginfail" class="error">
                       {{ loginError }}
                   </div> -->
                   
                   <div class="form-group">
                        <input type="text" class="form-control" id="username" v-model="username" placeholder="Brugernavn" required autocomplete="username">
                    </div>
                
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" v-model="password" placeholder="Adgangskode" required autocomplete="current-password">
                    </div>
                   
                    <a href="/Pages/Forside/Forside.html">
                    <button type="submit" class="btn btn-primary" id="loginButton">LOG IND</button>
                    </a>
               </form>
               <!-- <div v-if="loginfail" class="error"></div> -->

            
               <!-- Google log-in
               <div class="g-signin2" data-onsuccess="onSignIn"></div>
               -->
           </div>
       </div>
   </div>

    <!-- Import App -->
    <script src="./index.js"></script>
    <script src="/Pages/components/LoginVue.js"></script>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>