p {
    line-height: 1rem;
 }
 
 .card {
    padding: 20px;
 }
 
 .form-group {
    input {
       margin-bottom: 20px;
       width: 110%;
    }
 }
 
 .login-page {
    align-items: center;
    display: flex;
    height: 100vh;
    width: 80%;
    }
    
    .fade-enter-active,
    .fade-leave-active {
   transition: opacity .5s;
 }
    .fade-enter,
    .fade-leave-to {
       opacity: 0;
    }
    
    .wallpaper-register {
       background-color: rgb(255, 243, 135, 255);
       background-size: cover;
       height: 100%;
       position: absolute;
       width: 100%;
       z-index: -1;
    }
 
    h1 {
      align-self: center;
       margin-bottom: 1.5rem;
    }
 
 
 .error {
    animation-name: errorShake;
    animation-duration: 0.3s;
 }
 
 @keyframes errorShake {
    0% {
       transform: translateX(-25px);
    }
    25% {
       transform: translateX(25px);
    }
    50% {
       transform: translateX(-25px);
    }
    75% {
       transform: translateX(25px);
    }
    100% {
       transform: translateX(0);
    }
 }
 