.topnav {
    background-color: rgb(255, 243, 135, 255);
    overflow: hidden;
  }
  
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    float: right;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(255, 243, 135, 255);
    color: white;
  }

  .Logo{
    float: left;
  }
    
#create-button {
    background-color: rgb(255, 243, 135, 255);
}

.w3-bar-item.active {
    background-color: grey;
    color: white;
    font-weight: 700;
}

.w3-sidebar {
    width: 15%;
    background-color: blue;
    padding-top: 20px;
    position: fixed;
    height: 100%;
}

.w3-bar-item {
    display: block;
    color: #333;
    padding: 14px 16px;
    text-decoration: none;
}

.w3-bar-item:hover {
    background-color: #ddd;
}