<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Import Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <!-- Import Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <!-- Import Styles -->
  <link rel="stylesheet" type="text/css" href="./lokaler.css">
  <!-- Import Vue.js -->
  <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
  <!-- Import Axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>

  <title>Lokaler - opdater eller fjern</title>  
  <link rel="icon" type="image/x-icon" href="/Pages/assets/favicon.ico">
</head>
<body>
  <div id="app">

<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav id="navbarNav" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">

        <a href="/Pages/Sensor/Sensor.html" class="list-group-item list-group-item-action py-2 ripple">
          <i class="bi bi-broadcast"></i>
          <span> Sensorer</span>
        </a>
      
        <a href="/Pages/Lokale/lokaler.html" class="list-group-item list-group-item-action py-2 ripple active">    
          <i class="bi bi-house"></i>
           <span> Lokaler</span>
        </a>

        <a href="/Pages/Admin/Admin.html" class="list-group-item list-group-item-action py-2 ripple">
          <i class="bi bi-shield-lock"></i>
           <span> Administration</span>
        </a>

        <button type="button" class="list-group-item list-group-item-action py-2 ripple" id="create-button" data-bs-toggle="modal" data-bs-target="#createModal">
          <i class="bi bi-journal-plus"></i> 
          Opret nyt lokale
        </button>
     
      </div>   
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top custom-navbar">
    <!-- Container wrapper -->
    <div class="container-fluid">

      <!-- Toggle button for small screens -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <!-- Logo -->
      <a class="navbar-brand" href="/Pages/Forside/Forside.html">
        <img src="/Pages/assets/Zealand_logo.jpg" height="25" alt="Zealand logo" loading="lazy">
      </a>

      <div class="ms-auto d-flex flex-row">
        <a class="topnav-image me-3" href="#">
          <div class="Icons">
            <img src="/Pages/assets/Glass.jpg" style="height: 20px; width: 20px;">
          </div>
        </a>
  
        <a class="topnav-image" href="#">
          <div class="Icons">
            <img src="/Pages/assets/Person.jpg" style="height: 30px; width: 30px;">
          </div>
        </a>
        </div>  

    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
  <main style="margin-top: 58px">
    <div class="container pt-4">

      <h2>Her er der et overblik over alle oprettede lokaler</h2>
      <h3>Benyt opret/opdater knappen, hvis du vil tilføje eller ændre lokaler</h3>

      <ul class="list-group col-md-4">
        <li v-for="lokale in lokalerList" class="list-group-item list-group-item-secondary" :key="lokale.id"> {{ lokale.id ? lokale.id : 'No ID' }}</li>
      </ul>

    </div>
  </main>
<!--Main layout-->

<!-- #region Modal - this is the popup that appears when you press opret nyt x button -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createModalLabel">Opret nyt lokale</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Form for creating new item-->
          <form @submit.prevent="addLokale">
            <div class="mb-3">
              <label for="inputData" class="form-label">Skriv navnet på det nye lokale, som du ønsker at oprette.</label>
              <input v-model="newLokale" type="text" class="form-control" id="inputData" placeholder="Navn på lokale">
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Luk</button>
              <button @click="addLokale" type="button" class="btn btn-primary">Opret</button>
            </div>
          
          </form>
      </div>
    </div>
  </div>
</div>
<!--#endregion-->

</div>
<!-- Import JS -->
  <script src="./main.js"></script>
</body>
</html>