#header {
    background-color: rgb(255, 243, 135, 255);
    overflow: hidden;
}

#header a {
    float: right;
    color: black; /* change color */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

#header #logo-link {
    float: left;

}

#header a:hover {
    background-color: #ddd;
    color: black;
}

#header a.active {
    background-color: rgb(255, 243, 135, 255);
    color: white;
}